body {
  background: #3f3f3f;
}

.record-button {
  transform: scale(.8);
  background: whitesmoke;
  border: none;
  border-radius: 50%;
}

.record-button .mic-icon {
  font-size: 5rem;
  fill: url(#gradient);
}