@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Satisfy&display=swap');

body {
  background: #3f3f3f;
  color: whitesmoke;
  text-align: center; 
  font-family: "Questrial";
}


 h1 {
   font-family: "Satisfy";
 }

.record-button {
  transform: scale(.8);
  background: whitesmoke;
  border: none;
  border-radius: 50%;

}

.record-button .mic-icon {
  font-size: 5rem;
  fill: url(#gradient);
}