@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Satisfy&display=swap');

body {
  background: #3f3f3f;
  color: whitesmoke;
  text-align: center; 
  font-family: "Questrial";
}


 h1 {
   font-family: "Satisfy";
 }

.record-button {
  transform: scale(.8);
  background: whitesmoke;
  border: none;
  border-radius: 50%;

}

.record-button .mic-icon {
  font-size: 5rem;
  fill: url(#gradient);
}

.is-recording {
  padding: 50px;
}

.is-recording span {
  border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
  background: transparent;
  animation: 1200ms record linear infinite;
  transform-origin: center center;
  margin: 0 auto;
}

@keyframes record {
  0% {
    background: linear-gradient(-2  5deg, #5c99fa, #fc6fe0, #fcfc6f);
  }
  25% {
    background: linear-gradient(-25deg, #5c99fa, #fc6fe0, #fcfc6f);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.error {
  color: #ed2162;
}

.songs {
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.song {
  background: whitesmoke;
  color: #2f2f2f;
  width: 30%;
  box-sizing: border-box;
  margin-bottom: 2vh;
  padding: 2vh;
}

.song a {
  color: #ed2162;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #ed2162;
  padding-bottom: 2px;
}